* {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

body {
    background-color: #EBE5DF;
    position: relative;
}

nav {
    margin-bottom: 20px;
}

p,
li {
    font-weight: 400;
}

#procura {
    border-radius: 3px;
}

#all {
    padding-top: 8%;
}

button {
    height: 38px;
}

#eu {
    display: block;
    margin: auto;
}